{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    {% if user.pseudo == nom_user.pseudo %}
    <div>
        <h1>Votre Profil</h1>
        Pseudo : {{ user.pseudo }} @
        <br/>
        Email : {{ user.email }} ✉️
        <br/>
        Votre budget : {{ user.wallet }} €
        <br/>
        Nombre d'étoiles : {{ user.stars }} ✨
        <br/>
        Nombre de favoris : {{ infoFavori }} 🤍
        <br/>
         <a href="{{ path("app_modify_info_profile", {'id': user.id}) }}"><button>modifier vos informations personnel</button></a>

    <a href="{{ path('app_your_products') }}"><button> page de vos produits </button></a>

    <a href="{{ path('app_home_page') }}"><button> vos notification </button></a>
        <a href="{{ path('app_transaction_pdf') }}"><button> exporter votre porte monnaie en pdf </button></a>

        <h2>Modifier votre image de profil</h2>
                <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Image de profil" width="100" height="100" >

        <form method="post" enctype="multipart/form-data" action="{{ path('app_upload_profile_picture', {'id': user.id}) }}">
            <input type="file" name="profile_picture" required>
            <button type="submit">Upload</button>
        </form>

    </div>
    {% else %}
    <div>
        <h1>Profil de {{ nom_user.pseudo }}</h1>
        <img src="{{ asset('uploads/profile_pictures/' ~ nom_user.profilePicture) }}" alt="Image de profil" width="100" height="100">
        <br/>
        Nombre d'étoiles : {{ nom_user.stars }} ✨
        <br/>
        <h1>Liste des produits de {{ nom_user.pseudo }}</h1>
        {% for product in products %}
            {{ product.name }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
