{% extends 'base.html.twig' %}

{% block title %}Recherche Produits{% endblock %}

{% block body %}
<style>
    .wrap-bouton {
        margin: 1em auto;
        max-width: 900px;
        width: 95%;
        font: 14px/1.5 sans-serif;
    }
    .bouton-category {
        display: inline-block;
        margin: 0.5em;
        padding: 0.7em 1.5em;
        background-color: white;
        color: #333;
        text-decoration: none;
    }
    .bouton-category:hover {
        color: #ddd;
    }
</style>

<div class="wrap-bouton">

   {{ form_start(testForm, {'method': 'GET'}) }}
     {{ form_errors(testForm) }}
    {{ form(testForm) }} 
   {{ form_end(testForm) }}

    <div class="category-buttons">
        <a href="{{ path('app_category_search', {'categoryName': 'short'}) }}" class="bouton-category">Short</a>
        <a href="{{ path('app_category_search', {'categoryName': 'humain'}) }}" class="bouton-category">Humain</a>
    </div>
    <h1>Hello {{ user.pseudo }}! </h1>


    {% for product in products %}
        <h3>Nom Produit : {{ product.name }} </h3> 
    {% endfor %}

</div>
{% endblock %}
