{% extends 'base.html.twig' %}

{% block title %}Recherche Produits{% endblock %}

{% block body %}


<div class="wrap-bouton">

   {{ form_start(testForm, {'method': 'GET'}) }}
     {{ form_errors(testForm) }}
    {{ form(testForm) }} 
   {{ form_end(testForm) }}
   <a href="{{ path('app_logout') }}">Logout</a>

    <div class="category-buttons">

    {% for category in categories %}
        <a href="{{ path('app_category_search', {'categoryName': category.name}) }}" class="bouton-category">
            {{ category.name | capitalize }}

        </a>
    {% endfor %}
</div>
    {% if user != null %}
        <h1>Hello {{ user.pseudo }}! </h1>
    {% else %}
        .
    {% endif %}


   {% if products is not empty %}
        {% for product in products %}
            <h3>Nom Produit : {{ product.name }} </h3> 
             <a href="{{ path('app_add_favorite', {'id': product.id, 'route': 'app_home_page'}) }}">
            <button>Ajouter en favoris</button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_delete_product', {'id': product.id }) }}">
                    <button>Supprimer</button>
                </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Aucun produit.</p>
    {% endif %}

</div>
{% endblock %}
