{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <div class="example-wrapper">
    <div class="wrap-bouton">
        {{ form_start(testForm, {'method': 'GET', action: '/' }) }}
        {{ form_row(testForm.name) }} {# Assurez-vous que le champ est bien affiché #}
        <button type="submit">Rechercher</button>
        {{ form_end(testForm) }}
        <a href="{{ path('app_login') }}">Se connecter</a>
        <a href="{{ path('app_logout') }}">Logout</a>

        <div class="category-buttons">
        {% for category in categories %}
            <a href="{{ path('app_category_search', {'categoryName': category.name}) }}" class="bouton-category">
                {{ category.name | capitalize }}
            </a>
        {% endfor %}
    </div>
    </div>
{% endblock %}
