<div class="navbar">
    <a href="{{ path('app_home_page') }}">
        <img src="{{ asset('uploads/profile_pictures/kramptech.png') }}" alt="Logo" />
    </a>

    {{ form_start(testForm, {'method': 'GET', action: '/' }) }}
    {{ form_row(testForm.Recherche) }}
    {{ form_end(testForm) }}

    {% if user %}
        <a href="{{ path('app_your_products') }}">
            <button>Vos produits</button>
        </a>
        <a href="{{ path('app_your_favorites') }}">
            <button>Vos favoris</button>
        </a>
        <a href="{{ path('app_your_panier') }}">
            <button>Votre panier</button>
        </a>
        <a href="{{ path('app_profile', {'userName': user.pseudo}) }}">
            <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Image de profil" class="profile-image" />
        </a>
        <a href="{{ path('app_logout') }}">
            <button>Déconnexion</button>
        </a>
    {% else %}
        <a href="{{ path('app_login') }}">
            <button>Connexion</button>
        </a>
        <a href="{{ path('app_register') }}">
            <button>Inscription</button>
        </a>
    {% endif %}
</div>

<div class="category-buttons">
    {% for category in categories %}
        <a href="{{ path('app_category_search', {'categoryName': category.name}) }}" class="bouton-category">
            {{ category.name | capitalize }}
        </a>
    {% endfor %}
</div>
