{% extends 'base.html.twig' %}

{% block title %}Articles de {{user.pseudo}}{% endblock %}

{% block body %}
    <h1>Articles de {{user.pseudo}}</h1>

    {% for product in products %}
        {% if product.actif == true %}
            <div class="product_box">
                <img class="product_image" width="500" height="500" src={{product.image}}>
                <div class="product_content_box">
                    <a href="{{ path('app_one_product', {'id': product.id}) }}">
                        <h1>{{product.name}}</h1>
                    </a>
                    <h2>Catégorie : {{product.category.name}}</h2>
                    <marquee>
                        {% for i in 0..10 %}
                        {{product.description}}
                        {% endfor %}
                    </marquee>
                    <p>Il en reste {{product.quantity}}</p>
                    <p>{{product.price}} €</p>
                    <a href="{{ path('app_add_favorite', {'id': product.id, 'route': 'app_your_favorites'}) }}">
                        <button>Ajouter en favoris</button>
                    </a>
                    <a href="{{ path('app_add_cart', {'id': product.id, 'route': 'app_your_panier'}) }}">
                        <button>Ajouter au panier</button>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
