{% extends 'base.html.twig' %}

{% block title %}Articles de {{user.pseudo}}{% endblock %}

{% block body %}
    <h1>Articles de {{user.pseudo}}</h1>

    {% for product in products %}
      <div class="product_box">
        <img class="product_image" width="500" height="500" src={{product.image}}>
        <div class="product_content_box">
            <h1>{{product.name}}</h1>
            <h2>Catégorie : {{product.category.name}}</h2>
            <marquee>
                {% for i in 0..10 %}
                {{product.description}}
                {% endfor %}
            </marquee>
            <p>Il en reste {{product.quantity}}</p>
            <p>{{product.price}} €</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
