{% extends 'base.html.twig' %}

{% block title %}Hello CategorySearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% if products is not empty %}
        {% for product in products %}
            {% if product.actif == true %}
                <li>
                    <a href="{{ path('app_one_product', {'id': product.id}) }}">
                        <h3>Nom Produit : {{ product.name }} </h3> 
                    </a>
                    <a href="{{ path('app_seller_products', {'id': product.user.id}) }}">
                        <p>Par {{product.user.pseudo}}</p>
                    </a>
                    <p>Description : {{ product.description }}</p>
                    <p>Prix : {{ product.price }} €</p>
                    <p>Quantité : {{ product.quantity }}</p>
                    <img src="{{ product.image }}" alt="{{ product.name }}" style="width: 150px; height: auto;">
                    <a href="{{ path('app_add_favorite', {'id': product.id, 'route': 'app_home_page'}) }}">
                        <button>Ajouter en favoris</button>
                    </a>
                    <a href="{{ path('app_add_cart', {'id': product.id, 'route': 'app_home_page'}) }}">
                        <button>Ajouter au panier</button>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_delete_product', {'id': product.id }) }}">
                            <button>Supprimer</button>
                        </a>
                    {% endif %}
                </li>
                <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Aucun produit.</p>
    {% endif %}

    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}
