{% extends 'base.html.twig' %}

{% block title %}Hello OneProductController!{% endblock %}

{% block body %}

    <div class="product_box">
        <img class="product_image" width="500" height="500" src={{product.image}}>
        <div class="product_content_box">
            <h1>{{product.name}}</h1>
            <h2>Catégorie : {{product.category.name}}</h2>
            <marquee>{{product.description}}</marquee>
            <p>Il en reste {{product.quantity}}</p>
            <p>{{product.price}} €</p>
        </div>
    </div>
    

{% endblock %}
